html,
body {
    font-size: 100%;
    width: 100%;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: #CBCAC8;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    opacity: 0.6;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header .logotipo img {
    width: 200px;
}

.header .menu-topo ul {
    display: flex;
}

.menu-topo ul {
    list-style: none;
}

.menu-topo ul li {
    margin: 25px;
}

.menu-topo ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.trabalhos {
    display: flex;
}

.trabalhos h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.trabalhos {
    margin: auto;
    width: 100vh;
    max-width: 1140px;
    height: auto;
    padding: 0;
}

.trabalhos-realizados--fotos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trabalhos-realizados--fotos img {
    display: block;
    margin: 20px;
    max-width: 780px;
    box-shadow: 3px 3px #00000033, -1em 0 0.4em #27272733;
}

.trabalhos-realizados--descricao {
    padding: 0 20px;
}