.galery {
    width: 780px;
    height: 780px;
    overflow: hidden;
    margin: auto;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.99%;
}